.button:not(.escape_button_style), button:not(.escape_button_style) {

  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 15px 30px;

  text-decoration: none;
  text-align: center;
  font-size:16px;
  font-weight:bold;
  border-radius:5px;
  
  background: #f9f9f9;
  border-color: #787878;
  color: #787878;
  line-height:normal;


  transition:all .6s;
  -webkit-transition:all .6s;
  -moz-transition:all .6s;
}
.button{
	/*lately added*/	
	margin:15px 0px;
}
.button.hide:not(.escape_button_style), button.hide:not(.escape_button_style) {
	display:none;
}

.button i.animate-to-left{
	margin-left:0px;
}
.button i.animate-to-right{
	margin-right:0px;
}

button:not(.escape_button_style){
  border:none;
  box-shadow:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  -o-box-shadow:none;
}
.button:not(.escape_button_style):hover, .button:not(.escape_button_style):active,
.button.button-border:not(.escape_button_style):hover{
	background: #fff;
	color:#333;
	border-color:#787878;
}
.button.button-border:not(.escape_button_style){
	border-color:#fff;
	color:#fff;
}
.button.button-border:not(.escape_button_style):hover{
	border-color:#fff;
	color:#787878;
}
.button-border-bottom:not(.escape_button_style){
	box-shadow:0 6px 0 #c5cdd1;
	-webkit-box-shadow:0 6px 0 #c5cdd1;
	-moz-box-shadow:0 6px 0 #c5cdd1;
}
.button-border-bottom:not(.escape_button_style):hover{
	box-shadow:0 3px 0 #c5cdd1;
	-webkit-box-shadow:0 3px 0 #c5cdd1;
	-moz-box-shadow:0 3px 0 #c5cdd1;
}







.button:not(.escape_button_style):focus {
  outline: none;
}

input.button:not(.escape_button_style), button.button:not(.escape_button_style) {
  cursor: pointer;
}

.button-block, .button.button-block:not(.escape_button_style),
.rockthemes-active .button-block.rockthemes-fb-send {
  display: block;
  text-align:center;
}


.button-rounded {
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;
	-ms-border-radius: 11px;
	-o-border-radius: 11px;
	border-radius: 11px;
}


.button-pill {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
}


.button-circle {
  -webkit-border-radius: 240px;
  -moz-border-radius: 240px;
  -ms-border-radius: 240px;
  -o-border-radius: 240px;
  border-radius: 240px;
  width: 120px;
  line-height: 120px;
  height: 120px;
  padding: 0px;
  border-width: 4px;
  font-size: 18px;
}

.button-primary:not(.escape_button_style) {
	background: #4fc6f8;
	border-color:#4fc6f8;
	color: #fff;
}
.button-primary:not(.escape_button_style):hover, .button-primary:not(.escape_button_style):active,
.button-primary.button-border:not(.escape_button_style):hover{
	background: #4fc6f8;
	border-color:#4fc6f8;
	color:#fff;
}
.button-primary.button-border:not(.escape_button_style){
	border-color:#4fc6f8;
	color:#4fc6f8;	
}
.button-primary.button-border-bottom:not(.escape_button_style){
	box-shadow:0 6px 0 #34A2D0;
	-webkit-box-shadow:0 6px 0 #34A2D0;
	-moz-box-shadow:0 6px 0 #34A2D0;
}
.button-primary.button-border-bottom:not(.escape_button_style):hover{
	box-shadow:0 3px 0 #34A2D0;
	-webkit-box-shadow:0 3px 0 #34A2D0;
	-moz-box-shadow:0 3px 0 #34A2D0;
}








.button-action:not(.escape_button_style) {
	background: #56CCC8;
	border-color:#56CCC8;
	color:#f9f9f9;
}

.button-action:not(.escape_button_style):hover, .button-action:not(.escape_button_style):active,
.button-action.button-border:not(.escape_button_style):hover{
	background: #17C2BC;
	border-color:#17C2BC;
	color:#fff;
}
.button-action.button-border:not(.escape_button_style){
	border-color:#43D8D3;
	color:#56CCC8;	
}
.button-action.button-border-bottom:not(.escape_button_style){
	box-shadow:0 6px 0 #30A8A3;
	-webkit-box-shadow:0 6px 0 #30A8A3;
	-moz-box-shadow:0 6px 0 #30A8A3;
}
.button-action.button-border-bottom:not(.escape_button_style):hover{
	box-shadow:0 3px 0 #30A8A3;
	-webkit-box-shadow:0 3px 0 #30A8A3;
	-moz-box-shadow:0 3px 0 #30A8A3;
}



.button-highlight:not(.escape_button_style) {
	background: #ec4f2c;
	border-color:#ec4f2c;
	color: #fff;
}
.button-highlight:not(.escape_button_style):hover, .button-highlight:not(.escape_button_style):active,
.button-highlight.button-border:not(.escape_button_style):hover{
	background: #f55a46;
	border-color:#f55a46;
	color:#fff;
}
.button-highlight.button-border:not(.escape_button_style){
	border-color:#f55a46;
	color:#f55a46;
}
.button-highlight.button-border-bottom:not(.escape_button_style){
	box-shadow:0 6px 0 #AF3216;
	-webkit-box-shadow:0 6px 0 #AF3216;
	-moz-box-shadow:0 6px 0 #AF3216;
}
.button-highlight.button-border-bottom:not(.escape_button_style):hover{
	box-shadow:0 3px 0 #AF3216;
	-webkit-box-shadow:0 3px 0 #AF3216;
	-moz-box-shadow:0 3px 0 #AF3216;
}








.button-caution:not(.escape_button_style) {
	background: #c30800;
	border-color:#c30800;
	color: #fff;
}
.button-caution:not(.escape_button_style):hover, .button-caution:not(.escape_button_style):active,
.button-caution.button-border:not(.escape_button_style):hover{
	background-color: #d7322d;
	border-color:#d7322d;
	color:#fff;
}
.button-caution.button-border:not(.escape_button_style){
	border-color:#d7322d;
	color:#d7322d;	
}
.button-caution.button-border-bottom:not(.escape_button_style){
	box-shadow:0 6px 0 #8D0600;
	-webkit-box-shadow:0 6px 0 #8D0600;
	-moz-box-shadow:0 6px 0 #8D0600;
}
.button-caution.button-border-bottom:not(.escape_button_style):hover{
	box-shadow:0 3px 0 #8D0600;
	-webkit-box-shadow:0 3px 0 #8D0600;
	-moz-box-shadow:0 3px 0 #8D0600;
}








.button-royal:not(.escape_button_style) {
	background: #b20090;
	border-color:#b20090;
	color: #fff;
}
.button-royal:not(.escape_button_style):hover, .button-royal:not(.escape_button_style):active,
.button-royal.button-border:not(.escape_button_style):hover{
	background: #d72dbc;
	border-color:#d72dbc;
	color:#fff;
}
.button-royal.button-border:not(.escape_button_style){
	border-color:#d72dbc;
	color:#d72dbc;	
}
.button-royal.button-border-bottom:not(.escape_button_style){
	box-shadow:0 6px 0 #860A73;
	-webkit-box-shadow:0 6px 0 #860A73;
	-moz-box-shadow:0 6px 0 #860A73;
}
.button-royal.button-border-bottom:not(.escape_button_style):hover{
	box-shadow:0 3px 0 #860A73;
	-webkit-box-shadow:0 3px 0 #860A73;
	-moz-box-shadow:0 3px 0 #860A73;
}








.button-maroon:not(.escape_button_style) {
	background: #c30d36;
	border-color:#c30d36;
	color: #fff;
}

.button-maroon:not(.escape_button_style):hover, .button-maroon:not(.escape_button_style):active,
.button-maroon.button-border:not(.escape_button_style):hover{
	background: #d73b65;
	border-color:#d73b65;
	color:#fff;
}
.button-maroon.button-border:not(.escape_button_style){
	border-color:#d73b65;
	color:#d73b65;	
}
.button-maroon.button-border-bottom:not(.escape_button_style){
	box-shadow:0 6px 0 #8F102D;
	-webkit-box-shadow:0 6px 0 #8F102D;
	-moz-box-shadow:0 6px 0 #8F102D;
}
.button-maroon.button-border-bottom:not(.escape_button_style):hover{
	box-shadow:0 3px 0 #8F102D;
	-webkit-box-shadow:0 3px 0 #8F102D;
	-moz-box-shadow:0 3px 0 #8F102D;
}








.button-darkblue:not(.escape_button_style) {
	background: #324864;
	border-color:#324864;
	color: #fff;
}

.button-darkblue:not(.escape_button_style):hover, .button-darkblue:not(.escape_button_style):active,
.button-darkblue.button-border:not(.escape_button_style):hover{
	background: #1f3045;
	border-color:#1f3045;
	color: #fff;
}
.button-darkblue.button-border:not(.escape_button_style){
	border-color:#324864;
	color:#324864;	
}
.button-darkblue.button-border-bottom:not(.escape_button_style){
	box-shadow:0 6px 0 #132F52;
	-webkit-box-shadow:0 6px 0 #132F52;
	-moz-box-shadow:0 6px 0 #132F52;
}
.button-darkblue.button-border-bottom:not(.escape_button_style):hover{
	box-shadow:0 3px 0 #132F52;
	-webkit-box-shadow:0 3px 0 #132F52;
	-moz-box-shadow:0 3px 0 #132F52;
}





.button-yellow:not(.escape_button_style) {
	background: #ffd100;
	border-color:#ffd100;
	color: #fff;
}
.button-yellow:not(.escape_button_style):hover, .button-yellow:not(.escape_button_style):active,
.button-yellow.button-border:not(.escape_button_style):hover{
	background: #ebc831;
	border-color:#ebc831;
	color:#fff;
}
.button-yellow.button-border:not(.escape_button_style){
	border-color:#ebc831;
	color:#ebc831;	
}
.button-yellow.button-border-bottom:not(.escape_button_style){
	box-shadow:0 6px 0 #BB9D1A;
	-webkit-box-shadow:0 6px 0 #BB9D1A;
	-moz-box-shadow:0 6px 0 #BB9D1A;
}
.button-yellow.button-border-bottom:not(.escape_button_style):hover{
	box-shadow:0 3px 0 #BB9D1A;
	-webkit-box-shadow:0 3px 0 #BB9D1A;
	-moz-box-shadow:0 3px 0 #BB9D1A;
}







/*Bordered Buttons*/
.button-border:not(.escape_button_style){
	border:2px solid #f9f9f9;
	background:none;
}
.button-border-bottom{
	top:0px;
	position:relative;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
	
	/*Box shadow transition and top transition breaking the aesthetic. We fasten this.*/
	transition:all .3s !important;
	-webkit-transition:all .3s !important;
	-moz-transition:all .3s !important;

	z-index:9;

}
.button-border-bottom:hover{
	top:3px;	
}



/* line 206, ../scss/buttons.scss */
.button-big:not(.escape_button_style) {
	font-size: 24px;
	line-height: 150%;
	padding: 30px 60px;
}
.button-big i{
	font-size:20px;	
}

input.button-big, button.button-big {
  height: 48px;
}


.button-large:not(.escape_button_style) {
  font-size: 18px;
  line-height: 150%;
  padding: 15px 45px;
}

input.button-large, button.button-large {
  height: 48px;
}


.button-small:not(.escape_button_style) {
  font-size: 12px;
  line-height: 150%;
  padding: 5px 20.48px;
}

.button-small i{
	font-size:10px;	
}

input.button-small, button.button-small {
  height: 27.6px;
}



.button-dropdown {
  position: relative;
  overflow: visible;
  display: inline-block;
}
.button-dropdown .button-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 999;
}
.button-dropdown .button:not(.escape_button_style) .icon-caret-down {
  font-size: 90%;
  margin: 0px 0px 0px 3px;
  vertical-align: middle;
}
.button-dropdown ul.button-dropdown-menu-below {
  top: 115%;
}
.button-dropdown ul.button-dropdown-menu-above {
  bottom: 115%;
  top: auto;
}
.button-dropdown ul {
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  display: none;
  position: absolute;
  background: #fcfcfc;
  top: -2px;
  left: -2px;
  z-index: 1000;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  min-width: 102%;
}
.button-dropdown ul li {
  padding: 0px;
  margin: 0px;
  display: block;
}
.button-dropdown ul li:first-child a {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}
.button-dropdown ul li:last-child a {
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.button-dropdown ul .button-dropdown-divider {
  -webkit-box-shadow: inset 0px 1px 0px white;
  -moz-box-shadow: inset 0px 1px 0px white;
  box-shadow: inset 0px 1px 0px white;
  border-top: 1px solid #e4e4e4;
}
.button-dropdown ul a {
  display: block;
  padding: 0px 20px;
  text-decoration: none;
  font-size: 12px;
  color: #333333;
  line-height: 30px;
  white-space: nowrap;
}
.button-dropdown ul a:hover {
  background-color: #3c6ab9;
  color: white;
}


.button-custom:not(.escape_button_style) {
  background: #eeeeee;
  border-color: #d4d4d4;
  color: #888888;
}
.button-custom:not(.escape_button_style):hover, .button-custom:not(.escape_button_style):active {
  background-color: #eeeeee;
}
