<div ng-if="col.data.length" ng-repeat="row in col.data  | filter:filtro" class="column-body-item column-body-has-options">
    <div class="body-item-content">
        <div class="item-avatar">
            <img style="width: 100%" ng-src="[[row.profile_image_url]]" />
        </div>
        <div class="item-username"><a class="username" href="javascript:;" ng-click="userProfile(row.screen_name,col.profile)">[[row.screen_name]]</a></div>
        <div class="item-created"><span unsafe><a target="_blank" href="http://twitter.com/[[row.screen_name]]/status/[[row.id_str]]">[[row.created_at | toDate | date:'MMM d, h:mma']]</a></span> vía: <span ng-bind-html="row.source | unsafe"></span></div>
        <div class="item-text" compile-data  template="<div>[[row.text | linkify | linkusers:col.profile]]</div>"></div>
    </div>
    <div class="col-row-options">
        <ul>
            <span no-propage ng-click="prepareMessage(col.profile, row,'REPLY')" class="glyphicon glyphicon1-reply2 btn-option" tooltip="Responder" tooltip-append-to-body="true"></span>
            <a href="javascript:;" 
                custom-popover
                popover-placement="top"
                popover-html='<div>¿Retuitear a tus seguidores? 
                                        <button class="btn btn-default btn-sm" ng-click="retweet(row.id_str,col.profile)">Si</button> 
                                        <button no-propage=1 class="btn btn-default btn-sm" ng-click=prepareMessage(col.profile,row,"RT",row.text)>Editar</button>  
                                        <i style="cursor:pointer;" class="glyphicon glyphicon-remove popover-close"></i></div>'>
                <span class="glyphicon glyphicon1-retweet btn-option">
            </span></a>
            <span no-propage ng-click="prepareMessage(col.profile, row, 'DIRECT')" class="glyphicon glyphicon1-chat btn-option" tooltip="Mensaje directo" tooltip-append-to-body="true"></span>
            <span class="dropdown btn-option">
                <span class="dropdown-toggle" on-toggle="toggled(open)" tooltip="Más opciones" tooltip-append-to-body="true">
                    <i class="caret"></i>
                </span>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li><a href="javascript:;" no-propage ng-click="prepareMessage(col.profile, row, 'ALL', '', row.entities.user_mentions)"><span class="glyphicon glyphicon1-reply-all"></span> Responder a todos</a></li>
                    <li><a href="javascript:;" ng-click="favorite(col.profile, row.id_str)"><span class="glyphicon glyphicon1-star3"></span> Favorito</a></li>
                    <li><a href="javascript:;" ng-click="sendToEmail(row.text)"><span class="glyphicon glyphicon-envelope"></span> Enviar a email</a></li>
                    <li><a href="javascript:;"><span class="glyphicon glyphicon1-bubble"></span> Enviar a conversación</a></li>
                </ul>
            </span>
        </ul>
    </div>
</div>
<div class="column-body-item column-body-scrolling" ng-show="col.scrolling">
    <span class="glyphicon glyphicon-refresh-gif-black"></span> Cargando...
</div>
<div ng-if="col.data.length==0" class="column-no-results column-body-item">
    No se han encontrado resultados
</div>