<hmtl>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
 <body>
     <div>
         <p>Hola,</p>
         <p>Gracias por interesarse en SiteName! Mi nombre es Fulano, y quisiera darle personalmente la bienvenida a SiteName. </p>
         <p>SUS DATOS DE ACCESO SON LOS SIGUIENTES: </p>
         <p>
             Correo: {{entity.email}}<br/>
             Contraseña: {{entity.getPlainPassword}}
         </p>
         
     </div>
 </body>
</hmtl>