<div id="{{entity.id}}" class="red-added space-2">
    <i class="glyphicon glyphicon-remove remove"></i>
    <div style="display: inline-block; margin: 0 10px; vertical-align: top;"><img width="50" height="50" src="{{entity.avatar}}" /></div>
    <div style="display: inline-block;">
        <div>{{entity.username}}</div>
        <div>{{entity.socialnetwork.name}}</div>
    </div>
    <div class="clearfix"></div>    
</div>