<div id="footer" class="footer">

    <div class="footer-large">
        <div class="row">
            <div class="large-3 medium-3 small-12 columns"><aside id="text-1" class="widget widget_text">			<div class="textwidget"><img src="http://azoom.curvyslider.com/wp-content/themes/azoomtheme/images/demo/azoom-wordpress-business-theme.png" alt="Azoom | Responsive Wordpress Theme" style="max-width:250px; max-height:60px; width:100%;"><br/><br/><p>ConversatioQuest.</p><em>Disfrutalo!</em></div>
                </aside><aside id="rockthemes_payment_icons-1" class="widget widget_rockthemes_payment_icons"><div class="rockthemes-payment-icons"><i class="icomoon icomoon-icon-fa-cc-paypal"></i><i class="icomoon icomoon-icon-fa-cc-visa"></i><i class="icomoon icomoon-icon-fa-cc-mastercard"></i><i class="icomoon icomoon-icon-fa-cc-amex"></i></div></aside></div><div class="large-3 medium-3 small-12 columns"></div><div class="large-3 medium-3 small-12 columns"></div><div class="large-3 medium-3 small-12 columns"><aside id="tag_cloud-2" class="widget widget_tag_cloud"><h3 class="widget-title">Etiquetas</h3><hr/><div class="tagcloud"><a href='http:///tag/easy-to-use/' class='tag-link-16 tag-link-position-1' title='1 tema' style='font-size: 8pt;'>ConversationQuest</a>
                        <a href='http:///tag/image-2/' class='tag-link-17 tag-link-position-2' title='1 tema' style='font-size: 8pt;'>Twitter</a>
                        <a href='http:///tag/responsive/' class='tag-link-19 tag-link-position-3' title='6 temas' style='font-size: 22pt;'>Social</a>
                        <a href='http:///tag/rock/' class='tag-link-22 tag-link-position-4' title='1 tema' style='font-size: 8pt;'>media</a>
                        <a href='http:///tag/techno/' class='tag-link-23 tag-link-position-5' title='1 tema' style='font-size: 8pt;'>tweet</a>
                        <a href='http:///tag/text-editor/' class='tag-link-24 tag-link-position-6' title='1 tema' style='font-size: 8pt;'>Facebook</a>
                        <a href='http:///tag/twitter/' class='tag-link-25 tag-link-position-7' title='1 tema' style='font-size: 8pt;'>twitter</a>
                        <a href='http:///tag/wordpress/' class='tag-link-26 tag-link-position-8' title='2 temas' style='font-size: 12.581818181818pt;'>Wordpress</a>
                        <a href='http:///tag/wordpress-theme/' class='tag-link-27 tag-link-position-9' title='1 tema' style='font-size: 8pt;'>post</a></div>
                </aside></div>        </div>
    </div>

    <div class="footer-bottom">
        <div class="row">
            <div class="large-12 medium-12 columns footer-bottom-left center-text centered-text-responsive-small">
            	<span>
            	© Copyright - ConversationQuest                </span>
            </div>
        </div>
    </div>
    <!-- footer class-->
</div>