<div class="menu menu-navegacion">
    {% set route = app.request.attributes.get('_route') %}
        
    <nav role="navigation">
        <ul class="nav navbar-nav">
            <li><a href="#">Prueba gratuita</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Ayuda</a></li>
            <li><a href="#">Empleo</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Iniciar sesión</a></li>
        </ul>
    </nav>
    <div class="clearfix"></div>
</div>