<div class="row"></div>
<div  class="rockthemes-unique-grid rockthemes-fullwidth row collapse" style="background:#f0f0f0;">
    <div class="large-12 medium-12 columns">
        <div class="rockthemes-curvy-slider curvy-inline-nav">
            <div class="loader-container rockthemes-css-loader">
                <div style="text-align:center; display: inline-block;position: relative;">
                    <span class="rt_loading ">
                        <span class="rt_spinner">
                            <span class="rt_rect1"></span>
                            <span class="rt_rect2"></span>
                            <span class="rt_rect3"></span>
                            <span class="rt_rect4"></span>
                            <span class="rt_rect5"></span>
                        </span>
                    </span>
                </div>
            </div>
            <div id="curvy-slider-main-container-0" class="curvy-slider" style="opacity:0">
                <div id="azoom-animID">
                    <div id="experiment-holder">
                        <canvas id="curvy-canvas-0"></canvas>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="curvy-slider-nav-container">
                    <div class="curvy-slider-nav">
                        <div class="curvy-start-button curvy-main-nav-elem" data-ref="curvy-slider-main-container-0"><i id="playAllScenesBtn" class="icomoon icomoon-icon-play3"></i></div>
                        <div id="stopAllScenesBtn" class="curvy-stop-button curvy-main-nav-elem" data-ref="curvy-slider-main-container-0"><i class="icomoon icomoon-icon-stop2"></i></div>
                    </div>
                </div>
            </div></div>
    </div></div>