<div class="text-head">Añadir perfil de Facebook</div>
<div>
    <p>Para que ConversationQuest pueda tener acceso a tu cuenta de Twitter, primero debes autorizarlo desde su web.</p>
    <p>
        Cuando Facebook te pida permisos, por favor haz clic en "Permitir" para conectarlo a tu cuenta ConversationQuest.
    </p>
    <p>
        Tras conectar tu cuenta, podrás añadir:
    </p>
    <div class="red-importar"><span class="glyphicon1-facebook2"></span> Perfil de Facebook</div>
    <div class="red-importar"><span class="glyphicon1-facebook2"></span> Perfil de Facebook</div>
    <div class="red-importar"><span class="glyphicon1-facebook2"></span> Perfil de Facebook</div>
</div>
<button class="btn btn-lg btn-default btn-auth-facebook" ng-click="openAuth('facebook',2)"><span class="glyphicon1-facebook"></span> Conectar con Facebook</button>