<div class="text-head">Añadir perfil de Foursquare</div>
<div>
    <p>Para permitir que ConversationQuest acceda a tu cuenta de Foursquare, debes autorizarlo primero desde su web.</p>
</div>
<button class="btn btn-lg btn-default"><span class="glyphicon1-foursquare"></span> Conectar con Foursquare</button>