<div class="text-head">Agregar página de Google+</div>
<div>
    <p>Para que ConversationQuest pueda tener acceso a tu perfil de Google+, primero debes autorizarlo desde la web de Google.</p>
    <p>
        Tras conectar tu cuenta Google+, podrás importar:
    </p>
    <div class="red-importar"><span class="glyphicon1-googleplus22"></span> Página de Google+</div>
</div>
<button class="btn btn-lg btn-default" ng-click="openAuth('google',3,this,true)"><span class="glyphicon1-googleplus22"></span> Conectar con Google+</button>