<div class="text-head">Añadir perfil de Instagram</div>
<div>
    <p>Para que ConversationQuest pueda tener acceso a tu cuenta de Instagram, primero debes autorizarlo desde Instagram.com</p>
</div>
<button class="btn btn-lg btn-default btn-auth-instagram" ng-click="openAuth('instagram',6)"><span class="glyphicon1-twitter"></span> Conectar con Instagram</button>
<hr/>
<label><input type="checkbox" checked=""/>Seguir ConversationQuest en Instagram para recibir actualizaciones de noticias.</label>