<div class="text-head">Añadir perfil de LinkedIn</div>
<div>
    <p>Para que ConversationQuest pueda tener acceso a tu cuenta de Twitter, primero debes autorizarlo desde su web.</p>
    <p>
        Tras conectar tu cuenta LinkedIn, podrás importar:
    </p>
    <div class="red-importar"><span class="glyphicon1-linkedin"></span> Perfil de LinkedIn</div>
    <div class="red-importar"><span class="glyphicon1-linkedin"></span> Grupos de LinkedIn</div>
    <div class="red-importar"><span class="glyphicon1-linkedin"></span> Empresas de LinkedIn</div>
</div>
<button class="btn btn-lg btn-default" ng-click="openAuth('linkedin',3)"><span class="glyphicon1-linkedin"></span> Conectar con LinkedIn</button>
<hr/>
<label><input type="checkbox" checked=""/>Sigue a ConversationQuest en LinkedIn para recibir actualizaciones y noticias.</label>