<div class="text-head">Añadir perfil de mixi</div>
<div>
    <p>Para que ConversationQuest pueda tener acceso a tu perfil de mixi, primero debes autorizarlo desde la web de mixi.</p>
</div>
<button class="btn btn-lg btn-default"><span class="glyphicon1-mixi"></span> Conectar con mixi</button>