<div class="text-head">Añadir perfil de Pinterest</div>
<div>
    <p>Para que ConversationQuest pueda tener acceso a tu cuenta de Pinterest, primero debes autorizarlo desde Pinterest.com</p>
</div>
<button class="btn btn-lg btn-default btn-auth-instagram" ng-click="openAuth('pinterest',7)"><span class="glyphicon1-pinterest"></span> Conectar con Pinterest</button>
<hr/>
<label><input type="checkbox" checked=""/>Seguir ConversationQuest en Pinterest para recibir actualizaciones de noticias.</label>