<div class="text-head">Añadir perfil de Twitter</div>
<div>
    <p>Para que ConversationQuest pueda tener acceso a tu cuenta de Twitter, primero debes autorizarlo desde Twitter.com</p>
</div>
<button class="btn btn-lg btn-default btn-auth-twitter" ng-click="openAuth('twitter',1)"><span class="glyphicon1-twitter"></span> Conectar con Twitter</button>
<hr/>
<label><input type="checkbox" checked=""/>Seguir ConversationQuest en Twitter para recibir actualizaciones de noticias.</label>