<div class="text-head">Añadir blog de Wordpress.com</div>
<div>
    
    <button class="btn btn-lg btn-default btn-auth-wordpress" ng-click="openAuth('wordpress',5)"><span class="glyphicon1-wordpress"></span> Conectar con Wordpress</button>
    <hr/>
    <div class="text-xmini">
        <strong>Ten en cuenta:</strong><br/>
        Si administras varios blogs bajo una cuenta de WordPress.com, debes cambiar al blog que quieres actualizar desde 
        ConversationQuest. Puedes hacerlo accediendo a WordPress.com y modificando la configuración del "API Twitter" en la página 
        de tu perfil (desde el "Panel de control global").
    </div>
</div>
<hr/>
<label><input type="checkbox" checked=""/>Crear automáticamente una nueva pestaña para este perfil.</label>